@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:  10px 110px;
}

.logo {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: auto;
}



body{
    background : rgb(239, 237, 237);

}

.wrapper{
    width : 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);

}

h1 {
    font-size: 2rem;
    color: black;
    margin-botton: 1.2rem;
    padding-bottom: 20px;
}

form input{
    width : 92%;
    outline: none;
    border: 1px solid white;
    padding: 12px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: #e4e4e4;
}

button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline:none;
    border: none;
    width : 90%;
    cursor: pointer;
    background : #00A99A;
}

button:hover{
    background: #047d73;
}

input:focus{
    border: 1px solid rgb(192, 192, 192)

}

.terms{
    margin-top: 0.2rem;
}

.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label {
    font-size: 0.7rem;

}

.term a{
    color: blue;
    text-decoration: none;
}

.member{
    font-size:0.8rem;
    margin-top: 1.4rem;
    color: black;
}

.member a{
    color : blue;
    text-decoration: none;

}

.recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;

}

.recover a{
    text-decoration: none;
    color: #464647;
}