<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djan</title>
   
    {% load static %}
    <link rel="stylesheet" href="static/css/style.css">
    
</head>
<body>

    <!-- Header -->
    <header>
        <img class="logo" src=static/css/Images/logo.png alt="logo">

        <!-- Navigation bar -->
        <ul class="nav_links">
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About Us</a></li>
        </ul>

        <!-- Login button -->
        <a class="si" href="{% url 'login' %}"><button name="login">Login</button></a>
       
        
    </header>

    <br>
    
    <!-- Form for uploading image -->
    <div class="choosePredict">
        <form method="post" action="/upload_image" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="image">
            <input type="submit" value="Upload">
        </form>
        Disease Name : {{prediction}}
    </div> 

    <br><br><br><br>

    <!-- Link for capturing image with camera -->
    <a href="{% url 'camera' %}">Take Picture</a>

    {% if prediction %}
    <!-- Display the predicted disease -->
    <h1>The image belongs to {{ prediction }}</h1>
    {% endif %}

</body>
</html>
