<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="static/css/login_style.css">
</head>
<body>
    <header>
       <a href="{% url 'home' %}" ><img class = "logo" src=static/css/Images/logo.png alt="logo"> </a> 
    </header>
    <div class="wrapper">
      <h1>Login</h1>
      <form action="#">
          <input type="text" placeholder="Username">
          <input type="password" placeholder="Password">

          <div class="recover">
            <a href="#">Forgot Password?</a>
          </div>
          
    </form>
      




    <button>Sign Up</button>

    <div class="member">
        Not a member?  <a href="{% url 'SignUp' %}"> Register Now </a>
    </div>




    </div>
    
</body>
</html>