<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="static/css/login_style.css">
</head>
<body>
    <header>
       <a href="{% url 'home' %}"><img class = "logo" src=static/css/Images/logo.png alt="logo"> </a> 
    </header>
    <div class="wrapper">
      <h1>Sign Up</h1>
      <form action="#">
          <input type="text" placeholder="Username">
          <input type="email" placeholder="E-mail">
          <input type="password" placeholder="Password">
          <input type="password" placeholder="Re-Enter Password">
    </form>
      

    <div class="terms">
        <input type="checkbox" id = "checkbox">
        <label for="checkbox">I  agree to these <a href="#">Terms & Condition</a></label>
    </div>


    <button>Sign Up</button>

    <div class="member">
        Already a member?  <a href="{% url 'login' %}"> Login Here </a>
    </div>




    </div>
    
</body>
</html>