{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta
        name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'css/image_upload.css' %}">


        	


        <title>Identification of Plant Disease</title>


        <style>
            body {
                font-family: 'DM Sans', sans-serif;
                {% comment %} min-height: 100vh; {% endcomment %}
            }
            .footer {
                position: absolute;
                {% comment %} bottom: 0; {% endcomment %}
                width: 100%;
              }
              .min_height{
                min-height: 62vh;
              }
          
        </style>

        
       




    </head>

    <body>


 

        <!-- Navbar -->
        <div class="container mt-3 ">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <div class="container-fluid">

                    <!-- logo -->
                    <a class="navbar-brand" href="{% url 'home'%}">
                        <img src={%static "Images/logo.png"%} width="40" height="40" class="d-inline-block align-top" alt="Logo">
                    </a>

                    <!-- collapse button for small devices -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                             <li class="nav-item">
                                <a class="nav-link active fw-bold" aria-current="page" href="{% url 'home'%}">Home</a>
                            </li> 
                           
                            


                        </ul>

                       



                    </div>


                </div>
            </nav>


        </div>



        <div class="min_height">
            {% if disease_predictions %}
            <div class="container">
               <div class="d-md-none">
                  <table class="table table-striped">
                     <tbody class="d-md-none">
                        {% for disease_prediction in disease_predictions %}
                        <tr>
                           <td><img src="{{ disease_prediction.image.url }}" class="img-fluid" alt="{{ disease_prediction.predicted_disease }}"></td>
                        </tr>
                        <tr>
                           <td>
                              <h4>Disease Name:</h4>
                              {{ disease_prediction.predicted_disease }}
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <h4>Treatment:</h4>
                              {{ disease_prediction.treatment }}
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <h4>How to Use:</h4>
                              {{ disease_prediction.how_to_use }}
                           </td>
                        </tr>
                        {% if disease_prediction.caution != "" %}
                        <tr>
                          
                           <td style="color: #721c24; background-color: #f8d7da; border-color: #f5c6cb;">
                            <h4 >Caution:</h4>
                            {{ disease_prediction.caution }}
                          </td>
                          
                        </tr>
                        {% endif%}
                        
                        <tr>
                           <td>
                              <p>----------------------</p>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               <div class="d-none d-md-block d-lg-table">
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th scope="col">Image</th>
                           <th scope="col">Predicted Disease</th>
                           <th scope="col">Treatment</th>
                           <th scope="col">How to Use</th>
                           <th scope="col">Caution</th>

                        </tr>
                     </thead>
                     <tbody>
                        {% for disease_prediction in disease_predictions %}
                        <tr>
                           <td><img src="{{ disease_prediction.image.url }}" width="400" alt="{{ disease_prediction.predicted_disease }}"></td>
                           <td>{{ disease_prediction.predicted_disease }}</td>
                           <td>{{ disease_prediction.treatment }}</td>
                           <td>{{ disease_prediction.how_to_use }}</td>
                           {% if disease_prediction.caution != "" %}
                           <td style="color: #721c24; background-color: #f8d7da; border-color: #f5c6cb;">{{ disease_prediction.caution }}</td>
                           {% endif%}
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
                  
                </div>
                
                {% else %}
                     <p class="container mt-2"> No history </p>
                {% endif %}
            </div>
        </div>
         
          






           
          





        



   
        {% include 'footer.html' %}
 

        <script type="text/javascript" src="{% static 'js/image_upload.js' %}"></script>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>

</html>

